@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
body {
  background-color: #f8e9dd;
  font-family: 'DM Sans', sans-serif;
  margin: auto;
  width: 22em;
}

hr {
  border: 1px solid #f8e9dd;
  margin: 1.5em 0;
}

.header {
  background-color: #ec775f;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4em;
  padding: 1.5em 1.2em;
}

.header .header__text {
  color: #fffaf5;
  margin: 0;
}

.header .header__text:last-of-type {
  font-size: 1.8em;
  font-weight: 700;
}

.header .header__circle_outlined {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  position: relative;
  width: 50px;
  border: 2px solid #fffaf5;
  left: 1em;
  z-index: 1;
}

.header .header__circle_filled {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  position: relative;
  width: 50px;
  background-color: #382314;
  border: 2px solid #382314;
  right: 1em;
}

.expenses-chart {
  background-color: white;
  border-radius: 1em;
  margin: 1em 0;
  padding: 1em 1.2em;
}

.expenses-chart .expenses-chart__title {
  color: #382314;
}

.expenses-chart .expenses-chart__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 220px;
}

.expenses-chart .expenses-chart__data .expenses-chart__graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expenses-chart .expenses-chart__data .expenses-chart__graph .expenses-chart__amount {
  border-radius: 10%;
  color: white;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.5em;
  padding: 0.3em 0.3em;
}

.expenses-chart .expenses-chart__data .expenses-chart__graph .expenses-chart__bar {
  background-color: #ec775f;
  min-width: 80%;
  border-radius: 5px;
}

.expenses-chart .expenses-chart__data .expenses-chart__graph:hover .expenses-chart__amount {
  background-color: #382314;
}

.expenses-chart .expenses-chart__data .expenses-chart__graph:hover .expenses-chart__bar {
  opacity: 70%;
}

.expenses-chart .week-days__day {
  color: #93867b;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__subtitle {
  color: #93867b;
  margin-top: 0;
}

.footer .footer__subtitle:first-of-type {
  margin-bottom: 0.3em;
}

.footer .footer__amount {
  color: #382314;
  font-weight: 700;
  text-align: right;
  margin-bottom: 0.5em;
}

.footer .footer__amount:last-of-type {
  font-size: 2em;
  margin-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 25em;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 28em;
  }
  .expenses-chart__bar {
    min-width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */