@import './variables';

body {
  background-color: $cream;
  font-family: 'DM Sans', sans-serif;
  margin: auto;
  width: 90%;
}

.header {
  background-color: $soft-red;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  padding: 1.5em 1em;

  .header__text {
    color: $very-pale-orange;
    margin: 0;

    &:last-of-type {
      font-size: 1.8em;
      font-weight: 700;
    }
  }

  .header__circle_outlined {
    @include createCircle;
    border: 2px solid $very-pale-orange;
    left: 1em;
    z-index: 1;
  }

  .header__circle_filled {
    @include createCircle;
    background-color: $dark-brown;
    border: 2px solid $dark-brown;
    right: 1em;
  }
}
